@model IEnumerable<Quiz.Models.Question>

@{
    ViewBag.Title = "Quizpage2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quizpage2</h2>

<p>
    @Html.ActionLink("Create New", "qpps")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question1)
        </th>
        <th></th>
    </tr>
  @{ var i = 0;}
@foreach (var item in Model) {
     i =i+ 1; 

    <tr>
        <td>
           @i . @Html.DisplayFor(modelItem => item.Question1)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })
        </td>*@
    </tr>
       
   }

</table>
