@model Rating.Models.Arating

@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rating Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ac")
</p>
