<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DK MEDICAL SITE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-image:url('../../Content/images/medical/bg1.jpg'); background-size:cover;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-header">
                    <li>
                        <img src="~/Content/images/medical/medlogo1.jpg" width="50" height="50" />
                        <img src="~/Content/images/medical/cooltext340330083972777.png" width="250" height="50" />
                    </li>
                </ul>
                <ul class="nav navbar-nav" style="left:450px; position:absolute;" >
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Doctors", "Doctorlist", "Doctor")</li>
                    <li>@Html.ActionLink("Complaint", "Complaint", "Doctor")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" >
        @RenderBody()
        <hr />
        <footer>
            <p style="align-content:center; text-align:center; font-family:'Times New Roman'; font-size:15px;"> <b>Powered by dinesh kumar <br /> Zencorp Techno solutions</b></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
